.gjs-cv-canvas {
    min-width: 100%;
}
.gjs-one-bg {
    background: unset;
}
.gjs-one-bg.gjs-block {
    background-color: #15446b;
}
.block-display .fa-5 {
    font-size: 15px;
}
.block-display .fa-3 {
    font-size: 12px;
}
#stylesHolder .gjs-pn-panel {
    padding: 0;
    position: relative;
}
#stylesHolder .gjs-pn-panel .gjs-sm-title {
    background: unset;
    border: unset;
    padding: 9px 10px 9px 10px
}
#stylesHolder .gjs-sm-property {
    font-size: 1.5rem;
}