<div class="cover-menu header-cover-image" style="background-image: url(/images/normal_photo_1515592151.jpg);" 
data-gjs-draggable="false" 
data-gjs-droppable="false"
data-name="Banner Image" 
data-gjs-layerable="false"
data-gjs-copyable="false"
data-gjs-resizable="false"
data-gjs-badgable="false"
data-gjs-removable="false"
>
    <div class="overlay" style="background-color: #b2caeb; opacity: 0.6;" 
    data-gjs-draggable="false"
    data-gjs-droppable="false"
    data-gjs-layerable="false"
    data-gjs-copyable="false"
    data-gjs-resizable="false"
    data-gjs-badgable="false"
    data-gjs-removable="false"
    data-gjs-editable="false"
    ></div>
</div>
