<div class="component header-component" id="section-836">
    <div class="cover-menu" data-gjs-draggable="false">
      <nav class="navbar navbar-default" role="navigation" data-gjs-draggable="false">
        <div class="container" data-gjs-draggable="false">
          <div class="row" data-gjs-draggable="false">
            <div class="col-xs-12 col-md-4" data-gjs-draggable="false">
              <ul class="hidden-xs nav navbar-left navbar-nav socials" data-gjs-draggable="false">
                <li data-gjs-draggable="false">
                  <a data-gjs-draggable="false" target="_blank" href="{{site.linkedInUrl}}"><i class="fa fa-linkedin-square"></i>
                  </a>
                </li>
                <li data-gjs-draggable="false">
                  <a data-gjs-draggable="false" target="_blank" href="{{site.facebookUrl}}"><i class="fa fa-facebook-square"></i>
                  </a>
                </li>
                <li data-gjs-draggable="false">
                  <a data-gjs-draggable="false" target="_blank" href="{{site.twitterUrl}}"><i class="fa fa-twitter-square"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-xs-12 col-md-8">
              <button data-gjs-draggable="false" class="navbar-toggle" data-target="#navbar-collapse" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbar-collapse" data-gjs-draggable="false">
                <ul class="menu nav navbar-nav navbar-right" data-gjs-draggable="false">
                  <li>
                    <a href="/" data-gjs-draggable="false">Home</a>
                  </li>
                  <li>
                    <a href="/#section-838" data-gjs-draggable="false">Jobs</a>
                  </li>
                  <li>
                    <a href="/#section-3904" data-gjs-draggable="false">Our Team</a>
                  </li>
                  <li>
                    <a href="/#section-1058" data-gjs-draggable="false">Photos</a>
                  </li>
                  <li>
                    <a href="/cricket" data-gjs-draggable="false">Cricket</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div class="content container" data-gjs-draggable="false">
        <div class="top-liner row" data-gjs-draggable="false">
          <div class="col-sm-6" data-gjs-draggable="false">
            <h1 class="brand" data-gjs-draggable="false">
              <a href="/"><img src="/images/white_thumb_photo_1515592074.png" alt="White thumb photo 1515592074">
              </a>
            </h1>
          </div>
          <div class="col-sm-6 text-right hidden-xs" data-gjs-draggable="false">
            <a target="_blank" class="company-link btn btn-primary" href="http://www.schoolrecruiter.com" data-gjs-draggable="false">Rhys Website
            <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="info-container" data-gjs-draggable="false">
          <div class="info" data-gjs-draggable="false">
            <h2 data-gjs-draggable="false">{{site.data.text.welcomeText}}</h2>
            <h3 data-gjs-draggable="false">{{site.data.text.bannerCaption}}</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="spacing"></div>

    {% if page.pageType == 'edit---' %} 
    <a class="action edit hidden-xs" 
    
    data-placement="left" 
    title="" 
    data-remote="true" href="" 
    data-original-title="Edit"
    data-toggle="tooltip" 
    >
      <span class="button-container" data-toggle="modal" data-target="#header"><i class="icon ion-edit"></i></span>
    </a> 
    
  <!-- Modal -->
  <div class="modal fade" id="header" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Header</h4>
        </div>
        <div class="modal-body">
          <p>This is #section-836.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    <div class="add-action dropdown hidden-xs">
      <a class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon ion-plus-round"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li class="element-type element-type__text-component">
          <a data-remote="true" href="/components/new?after_component=836&amp;type=Careers%3A%3ATextComponent">Text / Picture</a>
        </li>
        <li class="element-type element-type__team-component">
          <a data-remote="true" href="/components/new?after_component=836&amp;type=Careers%3A%3ATeamComponent">Team</a>
        </li>
        <li class="element-type element-type__gallery-component">
          <a data-remote="true" href="/components/new?after_component=836&amp;type=Careers%3A%3AGalleryComponent">Photo Gallery</a>
        </li>
        <li class="element-type element-type__perks-component">
          <a data-remote="true" href="/components/new?after_component=836&amp;type=Careers%3A%3APerksComponent">Perks &amp; Benefits</a>
        </li>
        <li class="element-type element-type__map-component">
          <a data-remote="true" href="/components/new?after_component=836&amp;type=Careers%3A%3AMapComponent">Map location</a>
        </li>
        <li class="element-type element-type__quote-component">
          <a data-remote="true" href="/components/new?after_component=836&amp;type=Careers%3A%3AQuoteComponent">Quote</a>
        </li>
        <li class="element-type element-type__html-component">
          <a data-remote="true" href="/components/new?after_component=836&amp;type=Careers%3A%3AHtmlComponent">Custom HTML/CSS</a>
        </li>
        <li class="element-type element-type__videos-component">
          <a data-remote="true" href="/components/new?after_component=836&amp;type=Careers%3A%3AVideosComponent">Videos</a>
        </li>
      </ul>
    </div>
    {% endif %}
  </div>