<div class="component gallery-component" id="section-1058">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h3 class="section-title">{{page.photosTitle}}</h3>
              <h4 class="section-subtitle">{{page.photosSubTitle}}</h4>
            </div>
          </div>
        </div>
        <div class="gallery-carousel">
          <div class="photo">
            <img height="254" src="/images/normal_photo_1470129739.JPG" alt="Normal photo 1470129739">
          </div>
          <div class="photo">
            <img height="254" src="/images/normal_photo_1470129745.jpg" alt="Normal photo 1470129745">
          </div>
          <div class="photo">
            <img height="254" src="/images/normal_photo_1470129741.jpg" alt="Normal photo 1470129741">
          </div>
          <div class="photo">
            <img height="254" src="/images/normal_photo_1470129744.jpg" alt="Normal photo 1470129744">
          </div>
          <div class="photo">
            <img height="254" src="/images/normal_photo_1470129743.jpg" alt="Normal photo 1470129743">
          </div>
          <div class="photo">
            <img height="254" src="/images/normal_photo_1470129740.jpg" alt="Normal photo 1470129740">
          </div>
          <div class="photo">
            <img height="254" src="/images/normal_photo_1470129738.jpg" alt="Normal photo 1470129738">
          </div>
        </div>
        {% if page.pageType == 'edit' %} 
        <a class="action edit hidden-xs" data-toggle="tooltip" data-placement="left" title="" data-remote="true" href="/components/1058/edit" data-original-title="Edit"><i class="icon ion-edit"></i>
        </a>
        <a class="action delete hidden-xs" data-toggle="tooltip" data-placement="left" data-confirm="Are you sure you want to delete this?" title="" data-remote="true" rel="nofollow" data-method="delete" href="/components/1058" data-original-title="Delete"><i class="icon ion-trash-b"></i>
        </a>

        <div class="add-action dropdown hidden-xs">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon ion-plus-round"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li class="element-type element-type__text-component">
              <a data-remote="true" href="/components/new?after_component=836&amp;type=Careers%3A%3ATextComponent">Text / Picture</a>
            </li>
            <li class="element-type element-type__team-component">
              <a data-remote="true" href="/components/new?after_component=836&amp;type=Careers%3A%3ATeamComponent">Team</a>
            </li>
            <li class="element-type element-type__gallery-component">
              <a data-remote="true" href="/components/new?after_component=836&amp;type=Careers%3A%3AGalleryComponent">Photo Gallery</a>
            </li>
            <li class="element-type element-type__perks-component">
              <a data-remote="true" href="/components/new?after_component=836&amp;type=Careers%3A%3APerksComponent">Perks &amp; Benefits</a>
            </li>
            <li class="element-type element-type__map-component">
              <a data-remote="true" href="/components/new?after_component=836&amp;type=Careers%3A%3AMapComponent">Map location</a>
            </li>
            <li class="element-type element-type__quote-component">
              <a data-remote="true" href="/components/new?after_component=836&amp;type=Careers%3A%3AQuoteComponent">Quote</a>
            </li>
            <li class="element-type element-type__html-component">
              <a data-remote="true" href="/components/new?after_component=836&amp;type=Careers%3A%3AHtmlComponent">Custom HTML/CSS</a>
            </li>
            <li class="element-type element-type__videos-component">
              <a data-remote="true" href="/components/new?after_component=836&amp;type=Careers%3A%3AVideosComponent">Videos</a>
            </li>
          </ul>
        </div>
        {% endif %}
      </div>