<!-- <div class="editor-backdrop"></div> -->

<a id="rightSliderOpenButton" class="editor-link blocks hidden-xs" href="#editor">
  <div class="btn-editor easing">
    <img src="/images/blocks.png" alt="Edit">
  </div>
</a>
<div class="hidden-xs edit-controls" id="editorRight" role="navigation">
  <div id="sliderRightContent" style="display: none;">
    <div class="header">    
      <strong>Blocks</strong>
      <a id="closeRightSlider"  class="editor-link active" href="#editorRight">
        <i class="fa fa-angle-double-right"></i>
      </a>
    </div>
    <div style="overflow: auto" class="editor-content ps-container ps-active-y">
      <div id="page-blocks">
        
      </div>       
    </div>
  </div>   
</div> 
</div>


