<div class="component offers-component" id="section-838" data-name="Jobs">
    <div class="container" data-gjs-draggable="false">
      <h3 class="section-title" data-gjs-draggable="false">{{site.data.text.jobTitle}}</h3>
      <h4 class="section-subtitle" data-gjs-draggable="false">{{site.data.text.jobSubTitle}}</h4>
      <div class="filters-view" data-gjs-draggable="false">
        <div class="jobs-container" id="jobs-list" data-gjs-draggable="false">
          <div class="filters-container filters hidden-xs" data-gjs-draggable="false">
            <div class="filter filter__search" data-gjs-draggable="false">
              <input type="text" name="search" id="search-filter" class="search form-control" placeholder="Search..." data-gjs-draggable="false">
            </div>
            <div class="filter" data-gjs-draggable="false">
              <select name="department" id="department" class="form-control" data-gjs-draggable="false"><option value="">All departments</option></select>
            </div>
            <div class="filter" data-gjs-draggable="false">
              <select name="city" id="city" class="form-control" data-gjs-draggable="false"><option value="">All cities</option><option value="london">london</option></select>
            </div>
            <div class="filter filter__clear" data-gjs-draggable="false">
              <a class="clear-filters" href="#" data-gjs-draggable="false">Clear</a>
            </div>
          </div>
          <div class="list-container list" data-gjs-draggable="false">
            <a class="job job__row" id="job-8726" href="#" data-gjs-draggable="false"><div class="job__column job__column--title" data-gjs-draggable="false">
              <h5 class="title" data-gjs-draggable="false">teach</h5>
            </div>
            <div class="job__column job__column--meta" data-gjs-draggable="false">
              <span class="location" data-gjs-draggable="false">
                london
              </span>
            </div>
            <div class="job-data hidden" data-gjs-draggable="false">
              <div class="department" data-gjs-draggable="false"></div>
              <div class="city" data-gjs-draggable="false">london</div>
            </div>
            </a>
          </div>
          <div class="col-md-2 col-centered search-result" data-gjs-draggable="false">
            <div class="titles" data-gjs-draggable="false">
                <div class="h5" data-gjs-draggable="false"><a href="#">Job Title 1</a></div>
                <div class="department" data-gjs-draggable="false">Job Decription 1</div>
            </div>
            <div class="titles" data-gjs-draggable="false">
                <div class="h5" data-gjs-draggable="false"><a href="#">Job Title 2</a></div>
                <div class="department" data-gjs-draggable="false">Job Decription 2</div>
            </div>
            <div class="titles" data-gjs-draggable="false">
                <div class="h5" data-gjs-draggable="false"><a href="#">Job Title 3</a></div>
                <div class="department" data-gjs-draggable="false">Job Decription 3</div>
            </div>
          </div>
          <div class="empty-state hidden" data-gjs-draggable="false">
            <h3 data-gjs-draggable="false">
              No offers found
            </h3>
          </div>
        </div>
      </div>
    </div>
    {% if page.pageType == 'edit---' %} 
    <a class="action edit hidden-xs" data-toggle="tooltip" data-placement="left" title="" data-remote="true" href="/components/836/edit" data-original-title="Edit">
      <span class="button-container" data-toggle="modal" data-target="#jobs"><i class="icon ion-edit"></i></span>
    </a>
    <a class="action delete hidden-xs" data-toggle="tooltip" data-placement="left" data-confirm="Are you sure you want to delete this?" title="" data-remote="true" rel="nofollow" data-method="delete" href="https://acmeschool.careers.eteach.com/components/1126" data-original-title="Delete"><i class="icon ion-trash-b"></i>
    </a>

    <!-- Modal -->
  <div class="modal fade" id="jobs" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Jobs</h4>
        </div>
        <div class="modal-body">
          <p>This is #section-838.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="add-action dropdown hidden-xs">
    <a class="dropdown-toggle" data-toggle="dropdown">
      <i class="icon ion-plus-round"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
      <li class="element-type element-type__text-component">
        <a data-remote="true" href="/components/new?after_component=836&amp;type=Careers%3A%3ATextComponent">Text / Picture</a>
      </li>
      <li class="element-type element-type__team-component">
        <a data-remote="true" href="/components/new?after_component=836&amp;type=Careers%3A%3ATeamComponent">Team</a>
      </li>
      <li class="element-type element-type__gallery-component">
        <a data-remote="true" href="/components/new?after_component=836&amp;type=Careers%3A%3AGalleryComponent">Photo Gallery</a>
      </li>
      <li class="element-type element-type__perks-component">
        <a data-remote="true" href="/components/new?after_component=836&amp;type=Careers%3A%3APerksComponent">Perks &amp; Benefits</a>
      </li>
      <li class="element-type element-type__map-component">
        <a data-remote="true" href="/components/new?after_component=836&amp;type=Careers%3A%3AMapComponent">Map location</a>
      </li>
      <li class="element-type element-type__quote-component">
        <a data-remote="true" href="/components/new?after_component=836&amp;type=Careers%3A%3AQuoteComponent">Quote</a>
      </li>
      <li class="element-type element-type__html-component">
        <a data-remote="true" href="/components/new?after_component=836&amp;type=Careers%3A%3AHtmlComponent">Custom HTML/CSS</a>
      </li>
      <li class="element-type element-type__videos-component">
        <a data-remote="true" href="/components/new?after_component=836&amp;type=Careers%3A%3AVideosComponent">Videos</a>
      </li>
    </ul>
  </div>
{% endif %}
</div>

    